mutations
--runname ExampleDeltaSelection
--infmat_file influence_matrices/hprd_inf_0.10.mat 
--infmat_index_file influence_matrices/hprd_index_genes
--heat_file example/heat.json
--gene_length_file auxiliary_files/gene_length_2013-08-09.txt
--gene_order_file auxiliary_files/order_genes_hg19_gistic_bychrom.txt
--bmr .000001
--num_permutations 10
