--runname HotNetExample
--infmat_file influence_matrices/hprd_inf_0.10.mat
--infmat_name Li
--infmat_index_file influence_matrices/hprd_index_genes
--heat_file example/heat.json
--delta 0.0008
--output_directory example/output
mutations
--gene_length_file auxiliary_files/gene_length_2013-08-09.txt
--gene_order_file auxiliary_files/order_genes_hg19_gistic_bychrom.txt
--bmr 0.000001
--num_permutations 10
